/* CSS HEX */
/* --gamboge: #efa000ff;
--tangerine: #f48701ff;
--coquelicot: #f94a1aff; */

body {  
  font-family: "Glegoo", sans-serif;
  margin: 35px;
  padding: 25px;
  background-color: white;
}
h1 {
  color: rgb(19, 18, 18);
  text-align: center;
  border: 5px solid #f94a1aff;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 10px 10px 5px lightblue;
  font-size: 3em;
  border-top: none;
  border-right: none;
}
h1,
h2 {
  font-family: "Pacifico", cursive;
}

#customers {
  margin-left: 17%;
  margin-right: 10%;
}
.burguer {
  background-color: #efa000ff;
  margin: 3px;
  padding: 20px;
  border: 3px groove #efa000ff;
  border-radius: 11px;
}
#header {
  margin: 15px;
  padding: 15px;
  border-radius: 11px;
}
#footer {
  width:80%;
  text-align: justify;
  left: 15%;
  right: 15%;
  background-color: #f94a1aff;
  margin: 10px;
  padding: 15px;
  border: 6px ridge #f94a1aff;
  border-radius: 11px;
}
.container {
  margin: 3px;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  margin: 10px;
  padding-left: 2%;
  line-height: 35px;
}
img {  
  margin: 5px;
  padding: 2px; 
  border-radius: 10%;  
  border-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
